# History files
.Rhistory
.Rapp.history

# Session Data files
/01_data/raw_data/
/01_data/processed_data/
/04_products/figures/sandbox/

# knitr and R markdown default cache directories
/*_cache/
/cache/
*.pyc

01_data/get_data/metloom_data/cache/aiohttp_cache.sqlite
02_analysis/data_exploration/cache/aiohttp_cache.sqlite
02_analysis/data_sandbox/mydask.png
