# History files
.Rhistory
.Rapp.history

# Session Data files
/01_data/raw_data/
/01_data/processed_data/
/04_products/figures/sandbox/

# knitr and R markdown default cache directories
/*_cache/
/cache/
*.pyc

